<!doctype html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, shrink-to-fit=no, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Lilu</title>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.css">
    <%= stylesheet_link_tag :application %>
  </head>
  <body>
    <%= yield %>

    <script src="https://code.jquery.com/jquery-3.3.1.min.js" integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/fullPage.js/2.9.7/jquery.fullpage.min.js"></script>

    <%= javascript_include_tag :application %>

    <script>
      $(document).ready(function() {
        console.log('test');
        $('#landing__container').fullpage({
          anchors: ['concept', 'how-it-works', 'user-test', 'team'],
  				navigation: true,
  				navigationPosition: 'right',
  				navigationTooltips: ['Concept', 'How it works', 'User test', 'Team'],
          showActiveTooltip: false,
          scrollingSpeed: 1000,

          afterLoad: function(anchorLink, index){
        		var loadedSection = $(this);
            if(index == 1){
              $('.landing__section').text('LI.LU ?');
        		}
            if(index == 2){
              $('.landing__section').text('Comment ça marche ?');
        		}
        		if(index == 3){
              $('.landing__section').text('Testé, approuvé');
        		}
            if(index == 4){
              $('.landing__section').text('Contact');
        		}
        	}
        });
      });
      Application.init();
    </script>


  </body>
</html>
