.landing
  width: 100%
  height: calc(100% - 40px)
  padding: 20px 0
  position: relative

  &__head
    width: 100px
    height: calc(100% - 40px)
    position: fixed
    left: 0

  &__logo
    position: absolute
    top: 0
    left: 50%
    text-transform: uppercase
    font-weight: 700
    font-size: 25px
    writing-mode: vertical-lr
    transform: rotate(180deg) translateX(50%)

  &__section
    position: absolute
    bottom: 0
    left: 50%
    font-size: 12px
    font-weight: 300
    letter-spacing: 2px
    text-transform: uppercase
    writing-mode: vertical-lr
    transform: rotate(180deg) translateX(50%)

    &:before
      content: '∙'
      font-size: 60px
      color: $orange

  &__container
    width: calc(100% - 150px)
    height: 100%
    margin-left: 100px

  &__wrapper, .fp-tableCell
    width: 100%
    height: 100%
    display: flex
    justify-content: center
    align-content: center
    margin-bottom: 20px

  &__part
    height: calc(100% - 140px)
    position: relative
    padding: 50px
    overflow: hidden
    &:nth-child(1)
      margin-right: 10px

    &:nth-child(2)
      margin-left: 10px

  &__illu1
    opacity: 0.1
    position: absolute
    top: 10%
    right: -20px
    width: 250px

  &__illu2
    opacity: 0.1
    position: absolute
    top: -50px
    left: -50px
    width: 400px

  &__illu3
    opacity: 0.1
    position: absolute
    top: -150px
    right: -180px
    width: 500px

  &__background
    background-position: center
    background-repeat: no-repeat
    background-size: cover

  &__title
    font-weight: 800
    letter-spacing: 2px
    font-size: 30px
    text-transform: uppercase
    margin-bottom: 30px
    line-height: 35px

  &__description
    line-height: 25px
    &:last-child
      font-weight: 400
      margin-top: 20px
      font-size: 13px

  &__items
    color: $blue
    display: flex
    justify-content: center
    position: absolute
    bottom: 50px
    width: calc(100% - 100px)
    &.landing__steps
      position: relative
      bottom: initial
      width: 100%
      &:first-child
        margin-bottom: 50px
      &:last-child
        .landing__line
          left: 0
          right: initial

  &__steps
    position: relative
    bottom: initial

  &__item
    text-align: center
    flex: 1

  &__item-number
    font-family: $ysra

  &__item-symbol
    width: 7px
    height: 7px
    border-radius: 50%
    background: $orange
    margin: 10px auto
    transition: all 0.5s ease

  &__item-title
    font-size: 10px
    letter-spacing: 1px
    line-height: 14px
    width: 90%
    margin: 0 auto

  &__process
    width: 100%
    position: absolute
    bottom: 50px
    left: 0

  &__line
    width: 83%
    height: 1px
    background: $orange
    position: absolute
    top: 28px
    right: 0

  &__play-button
    background: $orange
    width: 100px
    height: 100px
    border-radius: 50%
    position: absolute
    left: 50%
    top: 50%
    transform: translate(-50%,-50%)
    display: flex
    align-content: center
    justify-content: center

    &--icon
      width: 0
      height: 0
      border-top: 25px solid transparent
      border-bottom: 25px solid transparent
      border-left: 35px solid $white
      margin-top: 25px
      margin-left: 10px

  &__navigation
    width: 50px
    height: 100%
    display: flex
    justify-content: center
    align-items: center
    position: fixed
    right: 0
    top: 0

  &__link
    width: 8px
    height: 8px
    border-radius: 50%
    border: 2px solid $light-grey
    background: $light-grey
    margin: 50px auto
    cursor: pointer
    transition: all 0.5s ease

    &--active
      background: $orange
      width: 15px
      height: 15px

  &__example
    position: absolute
    top: 50%
    left: 50%
    transform: translate(-50%,-50%)
    text-align: center

  &__gif
    width: 100px

  &__draw-cta
    background: $orange
    border: none
    text-transform: uppercase
    color: $white
    font-family: $open-sans
    font-weight: 600
    letter-spacing: 1px
    width: 160px
    padding: 10px
    border-radius: 30px
    margin-top: 20px
    display: block

  &__squad
    display: flex
    justify-content: center

  &__profils
    flex: 1
    &:last-child
      margin-top: -60px

  &__canvas
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%

  .orange-emphasis
    color: $orange

  .white
    background: $white
    color: $blue

  .blue
    background: $dark-blue
    color: $white
