<div class="landing">

  <div class="landing__head">
    <div class="landing__logo">li.<span class="orange-emphasis">lu</span></div>
    <div class="landing__section">Notre concept</div>
  </div>

  <!-- <section class="landing__wrapper landing__concept">
    <div class="landing__part white" style="width:40%">
      <div class="landing__content">
        <h1 class="landing__title">Notre concept</h1>
        <p class="landing__description"><span class="orange-emphasis">LI.LU</span> est une application de lecture partagée, conçu pour les enfants de 8 à 10 ans. L’interaction se fait grâce aux dessins.<br><span class="orange-emphasis">Nos valeurs</span> sont les suivantes</p>
      </div>
      <ul class="landing__items">
        <li class="landing__item">
          <div class="landing__item-number">01</div>
          <div class="landing__item-symbol"></div>
          <div class="landing__item-title">LE <br>FUN</div>
        </li>
        <li class="landing__item">
          <div class="landing__item-number">02</div>
          <div class="landing__item-symbol"></div>
          <div class="landing__item-title">LE <br>PARTAGE</div>
        </li>
        <li class="landing__item">
          <div class="landing__item-number">03</div>
          <div class="landing__item-symbol"></div>
          <div class="landing__item-title">LA <br>SPONTANÉITÉ</div>
        </li>
      </ul>
    </div>
    <div class="landing__part blue" style="width:60%">
      <div class="landing__play-button">
        <div class="landing__play-button-icon"></div>
      </div>
    </div>
  </section> -->

  <section class="landing__wrapper landing__instructions">
    <div class="landing__part landing__background" style="width:50%;background-image:url('images/mockup.jpg')"></div>
    <div class="landing__part white" style="width:50%">
      <div class="landing__content">
        <h1 class="landing__title">Comment <br>ça marche ?</h1>
        <p class="landing__description">Afin de partager leur vision de l’histoire, les enfants rencontrent des challenges visuels au cour de leur lecture. Une fois le challenge relevé, les enfants peuvent découvrire l’interprétation de leur ami de lecture et réagir s’ils le souhaitent. </p>
      </div>
      <div class="landing__process">
        <ul class="landing__items landing__steps">
          <div class="landing__line"></div>
          <li class="landing__item">
            <div class="landing__item-number">01</div>
            <div class="landing__item-symbol"></div>
            <div class="landing__item-title">création de l'avatar</div>
          </li>
          <li class="landing__item">
            <div class="landing__item-number">02</div>
            <div class="landing__item-symbol"></div>
            <div class="landing__item-title">temps de lecture</div>
          </li>
          <li class="landing__item">
            <div class="landing__item-number">03</div>
            <div class="landing__item-symbol"></div>
            <div class="landing__item-title">challenge dessin</div>
          </li>
        </ul>
        <ul class="landing__items landing__steps">
          <div class="landing__line"></div>
          <li class="landing__item">
            <div class="landing__item-number">04</div>
            <div class="landing__item-symbol"></div>
            <div class="landing__item-title">découverte du dessin de l'autre</div>
          </li>
          <li class="landing__item">
            <div class="landing__item-number">05</div>
            <div class="landing__item-symbol"></div>
            <div class="landing__item-title">réaction via émojis</div>
          </li>
          <li class="landing__item">
            <div class="landing__item-number">06</div>
            <div class="landing__item-symbol"></div>
            <div class="landing__item-title">reprise lecture</div>
          </li>
        </ul>
      </div>
    </div>
  </section>

  <!-- <section class="landing__wrapper landing__user-test">
    <div class="landing__part">

    </div>
    <div class="landing__part">

    </div>
  </section> -->

  <!-- <section class="landing__wrapper landing__contact">
    <div class="landing__part">

    </div>
    <div class="landing__part">

    </div>
  </section> -->

  <div class="landing__navigation">
    <ul class="landing__timeline">
      <li class="landing__link active"></li>
      <li class="landing__link"></li>
      <li class="landing__link"></li>
      <li class="landing__link"></li>
    </ul>
  </div>

</div>
